.banner {
    height: 10rem;
    background: rgb(59, 4, 104);
    color: rgb(236, 236, 253);
    font-size: 65px;
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
}
h2,h3,h4 {
    font-weight: normal;
}
.banner2 {
    height: 2rem;
    background: rgb(99, 1, 94);
    color: rgb(255, 255, 255);
}
.banner3 {
    height: 2rem;
    background: rgb(156, 57, 140);
    color: rgb(255, 255, 255);
}
.banner4 {
    height: 2rem;
    background: rgb(6, 134, 143);
    color: rgb(255, 255, 255);
}
.banner5 {
    height: 2rem;
    background: rgb(8, 86, 92);
    color: rgb(255, 255, 255); 
}
.banner6 {
    font-size: 20px;
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
}


.prehled {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap
}

.prehled img {
    height:250px;
    margin: 5px;
}
.kroky1 {
    height: 8rem;
    background: rgb(0, 18, 175);
    color: rgb(236, 236, 253);
    font-size: 65px;
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
}
.bsirena {
    height: 8rem;
    background: rgb(207, 70, 173);
    color: rgb(236, 236, 253);
    font-size: 65px;
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    
}
.futu1 {
    height: 8rem;
    background: rgb(150, 117, 85);
    color: rgb(236, 236, 253);
    font-size: 65px;
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;}
.brenegati {
    height: 8rem;
    background: crimson;
    color: white;
    font-size: 65px;
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
}
.bsupernova { 
    height: 8rem;
    background: rgb(104, 4, 150);
    color: white;
    font-size: 65px;
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;

}
.protivnici { 
    height: 8rem;
    background: rgb(50, 164, 240);
    color: white;
    font-size: 65px;
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;

}
.obraz img {
    height: 250px;

}
.obal {
    display: flex;
    margin: 7px;
}